.Container{
    margin-bottom: 100px;
    margin-top: 150px;
    padding: 5%;
}

.Container h1{
 
   margin-bottom: 80px;
   text-align: center;
   font-weight: 500;

}
.card-body{
    background-color:#ffab40;
}

.card-title{
    margin: auto;
    color: #000;
    font-weight: 800;
    font-size: 30px;
    margin-bottom:5px;
}

.card-text{
    color: #000;
    font-weight: 500;
    font-size: 30px;
}
.card{
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .Container h1{
 
        margin-bottom: 80px;
        text-align: center;
        font-size: 60px;
     
     }
}

@media (max-width: 400px) {
    .Container h1{
 
        margin-bottom: 40px;
        text-align: center;
        font-size: 30px;
     
     }

     .Container{
        margin-bottom: 100px;
        margin-top: 180px;
        padding: 5%;
    }
    
}